<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/style2.css')}}">
</head>
<body>

<header>
	
<nav>
	<div class="logo"> <img id="brand-logo" src="{{url_for('static', filename = 'images/logo.jpg')}}" alt="logo_image"> <h1 style="font-size: 20px;">Personal Expense Tracker </h1> </div>
	<div class="menu">
		<a class="btn" href="/login">login</a>
		<a class="btn" href="#">about</a>
		<a class="btn" href="/register">signup</a>
	</div>
</nav>

	<main>
		<section>
			<h3>Welcome To our Application</h3>
			<h1>tech used <span class="change_content"> </span> <span style="margin-top: -10px;"> | </span> </h1>

			<div class="content_me">
				<p>Personal Expense Tracker Application
					is used to track your expenses and saving you a lot of time budgeting your finances,
					you can also set expense limit and get alert when reaching that limit.
				</p>
		    </div>
			
			
		</section>
	</main>


</header>

</body>
</html>
