<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>Register</title>
</head>
<body>
  <div class="login-wrapper">
    <form action="/register" class="form" method="post">
      <div class="mess">
        {{msg}}
      </div>
      <h2>Register</h2>
      <div class="input-group">
        <input type="text" name="username" id="loginUser" required>
        <label for="loginUser">User Name</label>
      </div>
      <div class="input-group">
        <input type="text" name="email" id="loginUser" required>
        <label for="loginUser">Email </label>
      </div>
      <div class="input-group">
        <input type="password" name="password" id="loginPassword" required>
        <label for="loginPassword"> your Password</label>
      </div>
      <input type="submit" value="Submit" class="submit-btn"><br><br>
      <div class="log">
        <p>Already have an account? <a class="reg-log-link" href="login">Login Here</a></p>
      </div>
    </form> 
  </div>
</body>
</html>