<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display mail , phone , name.</title>
</head>
<body>
    <form action="/login" method="post">

        <p>Enter name:</p>
        <input type="text" name="nm">
        <p>Enter mail id:</p>
        <input type="email" name="mail">
        <p>Enter phone number:</p>
        <input type="number" name="phone"><br>
        <input type="submit" value="submit">
    </form>
    <b>{{x}}</b><br>
    <b>{{y}}</b><br>
    <b>{{z}}</b>
</body>
</html>